# Librerias del entorno actual
__pycache/

# Archivos de log
*.log

# Archivos compilados y binarios
*.pyc
*.exe
*.dll
*.so
*.out
*.db

# Agent's folders
.gemini
.claude
.codex

# Carpeta de entornos virtuales
**/env/

# Carpetas específicas
**/.virtualenv/
**/.git/

# Archivos de configuración locales
.env
api/local.settings.json
